<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Erro</h1>
        <h2>Houve um problema não tratado. Por favor, contate o suporte especializado.</h2>
    </hgroup>
</body>
</html>
